@model List<Department>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<H1>GET ALL DEPARTMENT</H1>

<a asp-action="Create" asp-controller="Department">Add Department</a>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Department Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <th scope="row">@department.departmentId</th>
                <td>@department.departmentName</td>
                <td><a href="#"></a></td>
                <td><a asp-controller="Department" asp-action="Details" asp-route-departmentId="@department.departmentId">View</a></td>
                <td><a asp-controller="Department" asp-action="Update" asp-route-departmentId="@department.departmentId">Edit</a></td>
                <td><a asp-controller="Department" asp-action="Delete" asp-route-departmentId="@department.departmentId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>